.toggle {
  background: #efefef ;
  border: 1px solid #ccc;
  border-radius: 100px;
  display: inline-block;
  padding: 4px 0;
  position: relative;
}

input[type=radio] {
  display: none;
}

label {
  width: 24px;
  display: inline-block;
  text-align: center;
  z-index: 5;
  position: relative;
  cursor: pointer;
}

.selector {
  height: 24px;
  width: 24px;
  background: #ccc;
  border-radius: 60px;
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 1;
  transition: left .125s ease-in-out;
}

.toggle input[type="radio"]:checked ~ * #system-icon {
  fill: #666;
  stroke: #666;
  stroke-width: 0.2px;
}

.toggle input[type="radio"]:not(:checked) ~ * #system-icon{
  fill: #ddd;
  stroke: #aaa;
  stroke-width: 1px;
}

.system:checked ~ .selector {
  left: 2px;
}


.light:checked ~ .selector {
  left: 28px;
}

.light:checked ~ * #light-icon {
  fill: #666;
  stroke: #666;
}

.dark:checked ~ .selector {
  left: 54px;
}

.dark:checked ~ * #dark-icon {
  fill: #666;
  stroke: #666;
  stroke-width: 0.2px;
}