:root {
  /* color-scheme: light dark; */
  --clr-light: #fdffc4; 
  --clr-dark: #00332a;
  --clr-primary: #dbffa2;
  --clr-secondary: #c3cff2;
  --clr-accent: #ff7750;

  --foreground: var(--clr-dark);
  --background: var(--clr-light);
}

.darkmode {
  --clr-light: #fdffc4; 
  --clr-dark: #00332a;
  --clr-primary: #202302;
  --clr-secondary: #00100d;
  --clr-accent: #ff7750;

  --foreground: var(--clr-light);
  --background: var(--clr-dark);
}

.toggle {
  background: #efefef ;
  border: 1px solid #ccc;
  border-radius: 100px;
  display: inline-block;
  padding: 4px 0;
  position: relative;
  position: fixed;
  top: 16px;
  right: 16px;
}

input[type=radio] {
  display: none;
}

label {
  width: 24px;
  display: inline-block;
  text-align: center;
  z-index: 5;
  position: relative;
  cursor: pointer;
}

.selector {
  height: 24px;
  width: 24px;
  background: #ccc;
  border-radius: 60px;
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 1;
  transition: left .062s ease-in;
}

.toggle input[type="radio"]:checked ~ * #system-icon {
  fill: #666;
  stroke: #666;
  stroke-width: 0.2px;
  transition: fill .125s ease-in, stroke .125s ease-in;
  transition-delay: .062s;
}

.toggle input[type="radio"]:not(:checked) ~ * #system-icon{
  fill: #ddd;
  stroke: #aaa;
  stroke-width: 1px;
  transition: fill .125s ease-in, stroke .125s ease-in;
  transition-delay: .062s;
}

.system:checked ~ .selector {
  left: 2px;
}


.light:checked ~ .selector {
  left: 28px;
}

.light:checked ~ * #light-icon {
  fill: #666;
  stroke: #666;
  transition: fill .125s ease-in, stroke .125s ease-in;
  transition-delay: .062s;
}

.dark:checked ~ .selector {
  left: 54px;
}

.dark:checked ~ * #dark-icon {
  fill: #666;
  stroke: #666;
  stroke-width: 0.2px;
  transition: fill .125s ease-in, stroke .125s ease-in;
  transition-delay: .062s;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #131313;
    color: white;
  }
}